<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display fontSize="9">
    <Graphs>
      <Graph name="NewHeight" number="0" applyLayout="true">
        <Node name="PreCommit2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NewHeight" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit4" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round5" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess3" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote2" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Round6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote1" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess6" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

