<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display fontSize="9">
    <Graphs>
      <Graph name="NewHeight" number="0" applyLayout="true">
        <Node name="Round" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Unsuccess" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeF" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NilPrevote" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Prevote" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="NewHeight" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeS" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="PreCommit" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="Commit" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
        <Node name="ProposeFF" number="0">
          <x>0.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

