<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="NewHeight" currentTabNumber="0" fontSize="9">
    <Graphs>
      <Graph name="NewHeight" number="0" applyLayout="false">
        <Node name="NilPrevote" number="0">
          <x>599.0</x>
          <y>74.0</y>
        </Node>
        <Node name="PreCommit" number="0">
          <x>599.0</x>
          <y>86.0</y>
        </Node>
        <Node name="Unsuccess" number="0">
          <x>599.0</x>
          <y>98.0</y>
        </Node>
        <Node name="ProposeFF" number="0">
          <x>600.0</x>
          <y>25.0</y>
        </Node>
        <Node name="ProposeF" number="0">
          <x>599.0</x>
          <y>37.0</y>
        </Node>
        <Node name="ProposeS" number="0">
          <x>599.0</x>
          <y>49.0</y>
        </Node>
        <Node name="Commit" number="0">
          <x>599.0</x>
          <y>111.0</y>
        </Node>
        <Node name="Round" number="0">
          <x>599.0</x>
          <y>12.0</y>
        </Node>
        <Node name="Prevote" number="0">
          <x>599.0</x>
          <y>61.0</y>
        </Node>
        <Node name="NewHeight" number="0">
          <x>599.0</x>
          <y>0.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

