<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Names />
  </Properties>
  <Display currentTabName="NewHeight" currentTabNumber="0" fontSize="9">
    <Graphs>
      <Graph name="NewHeight" number="0" applyLayout="false">
        <Node name="PreCommit" number="0">
          <x>1020.0</x>
          <y>85.0</y>
        </Node>
        <Node name="Unsuccess" number="0">
          <x>394.0</x>
          <y>112.0</y>
        </Node>
        <Node name="Round" number="0">
          <x>880.0</x>
          <y>121.0</y>
        </Node>
        <Node name="ProposeF" number="0">
          <x>84.0</x>
          <y>177.0</y>
        </Node>
        <Node name="ProposeFF" number="0">
          <x>684.0</x>
          <y>226.0</y>
        </Node>
        <Node name="NilPrevote" number="0">
          <x>1084.0</x>
          <y>183.0</y>
        </Node>
        <Node name="ProposeS" number="0">
          <x>1345.0</x>
          <y>167.0</y>
        </Node>
        <Node name="NewHeight" number="0">
          <x>750.0</x>
          <y>29.0</y>
        </Node>
        <Node name="Prevote" number="0">
          <x>648.0</x>
          <y>172.0</y>
        </Node>
        <Node name="Commit" number="0">
          <x>1374.0</x>
          <y>13.0</y>
        </Node>
      </Graph>
    </Graphs>
  </Display>
</Configuration>

